output/

*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/*
.navigation/*
app/libs/speck-1.0-SNAPSHOT.jar
app/src/main/jni/Android.mk
app/src/main/jni/src/internal.h
app/src/main/jni/src/main.c
app/src/main/jni/src/speck.c
app/src/main/jni/src/speck.h
app/src/main/jni/src/jni/br_com_loopkey_speck_Speck.h
app/src/main/jni/src/jni/Speck_JNI.c
app/src/main/jniLibs/arm64-v8a/liblkspeck.so
app/src/main/jniLibs/armeabi/liblkspeck.so
app/src/main/jniLibs/armeabi-v7a/liblkspeck.so
app/src/main/jniLibs/mips/liblkspeck.so
app/src/main/jniLibs/mips64/liblkspeck.so
app/src/main/jniLibs/x86/liblkspeck.so
app/src/main/jniLibs/x86_64/liblkspeck.so
app/src/main/obj/local/arm64-v8a/liblkspeck.so
app/src/main/obj/local/arm64-v8a/objs/lkspeck/src/speck.o
app/src/main/obj/local/arm64-v8a/objs/lkspeck/src/speck.o.d
app/src/main/obj/local/arm64-v8a/objs/lkspeck/src/jni/Speck_JNI.o
app/src/main/obj/local/arm64-v8a/objs/lkspeck/src/jni/Speck_JNI.o.d
app/src/main/obj/local/armeabi/liblkspeck.so
app/src/main/obj/local/armeabi-v7a/liblkspeck.so
app/src/main/obj/local/armeabi-v7a/objs/lkspeck/src/speck.o
app/src/main/obj/local/armeabi-v7a/objs/lkspeck/src/speck.o.d
app/src/main/obj/local/armeabi-v7a/objs/lkspeck/src/jni/Speck_JNI.o
app/src/main/obj/local/armeabi-v7a/objs/lkspeck/src/jni/Speck_JNI.o.d
app/src/main/obj/local/armeabi/objs/lkspeck/src/speck.o
app/src/main/obj/local/armeabi/objs/lkspeck/src/speck.o.d
app/src/main/obj/local/armeabi/objs/lkspeck/src/jni/Speck_JNI.o
app/src/main/obj/local/armeabi/objs/lkspeck/src/jni/Speck_JNI.o.d
app/src/main/obj/local/mips/liblkspeck.so
app/src/main/obj/local/mips/objs/lkspeck/src/speck.o
app/src/main/obj/local/mips/objs/lkspeck/src/speck.o.d
app/src/main/obj/local/mips/objs/lkspeck/src/jni/Speck_JNI.o
app/src/main/obj/local/mips/objs/lkspeck/src/jni/Speck_JNI.o.d
app/src/main/obj/local/mips64/liblkspeck.so
app/src/main/obj/local/mips64/objs/lkspeck/src/speck.o
app/src/main/obj/local/mips64/objs/lkspeck/src/speck.o.d
app/src/main/obj/local/mips64/objs/lkspeck/src/jni/Speck_JNI.o
app/src/main/obj/local/mips64/objs/lkspeck/src/jni/Speck_JNI.o.d
app/src/main/obj/local/x86/liblkspeck.so
app/src/main/obj/local/x86/objs/lkspeck/src/speck.o
app/src/main/obj/local/x86/objs/lkspeck/src/speck.o.d
app/src/main/obj/local/x86/objs/lkspeck/src/jni/Speck_JNI.o
app/src/main/obj/local/x86/objs/lkspeck/src/jni/Speck_JNI.o.d
app/src/main/obj/local/x86_64/liblkspeck.so
app/src/main/obj/local/x86_64/objs/lkspeck/src/speck.o
app/src/main/obj/local/x86_64/objs/lkspeck/src/speck.o.d
app/src/main/obj/local/x86_64/objs/lkspeck/src/jni/Speck_JNI.o
app/src/main/obj/local/x86_64/objs/lkspeck/src/jni/Speck_JNI.o.d
